@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";

.dancingScript {
  font-family: "Dancing Script";
}

.karla {
  font-family: "Karla", sans-serif;
}

* {
  color: rgb(82 84 86);
}
